@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    
}
body{
    
    background-color: antiquewhite;
    margin-top: 20px;
}
header, footer{
    max-width: 1300px;
    height: 58px;
    background-color: #255538;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    
    
}
.caja1,.caja1 a,.caja2,.caja2 a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.main-img{
    margin: 0 auto;
    max-width: 1230px; /* Permite que el contenedor se ajuste al ancho disponible */
    height: 350px; /* Puedes ajustar esto según necesites, o hacerlo responsive también */
    background-image: url(/images/home-img.jpg);
    background-size: cover; /* Asegura que la imagen cubra completamente el contenedor sin perder su aspecto */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;
}
.subtitle{
    width: 1270px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    font-size: 100px;
    color: white;
    
}
h2{
    margin: 10px;
    color: #824431;
    font-family: "DM Serif Display", serif;
    
}

#grid-recipes{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid-cajas{
    background-color: white;
    max-width: 100%;
    
}

.grid-cajas img{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
}

@media (max-width: 730px){
 #grid-recipes{
    grid-template-columns: 1fr 1fr;
 }
}
@media (max-width: 540px){
    #grid-recipes{
       grid-template-columns: 1fr;
       
    }
    
   }
